extends layout
block content
  .info#sponsor.animated.fadeIn
    .logo-lg.center-flex
      img(src="images/logo-gray.png", alt="")
    .fecha-inicio
      div del:
      h1.no-margin Julio 24
    .fecha-final
      div al:
      h1.no-margin Julio 28
    .ciudad.center-flex
      h1.no-margin CDMX
  br
  br
  h2.text-center
    span.import ESTO ES GRACIAS A:
  .patrocinadores
    .beat.text-center.center-flex
      img(src="images/beat.png", alt="")
    br
    .center-flex.pat-2
      .bg
        img(src="images/bgbg.png", alt="")
      .gestionix
        img(src="images/gestionix.svg", alt="")
      .tec
        img(src="images/tec.png", alt="")
    br
    .sable.text-center
      img(src="images/sable.svg", alt="")

  
  .grid-busp
    h2.text-center
      span.import BUSPRENEURS
    br
    br
    br
    .col
      .photo
        .data
    .col
      .photo
        .data  
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data  
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data  
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
  h2.text-center
    span.import CONDUCTORS
  .grid-conductors
    .conductor
      .photo_c.text-center
        img(src="images/rulotico.jpg", alt="")
      br
      .name.text-center Rulótico
      .link.text-center
        a(href="#") @ruben
    .conductor
      .photo_c.text-center
        img(src="images/danna.jpg", alt="")
      br
      .name.text-center Danna
      .link.text-center
        a(href="#") @dannakiedis
    .conductor
      .photo_c.text-center
        img(src="images/ruben.jpg", alt="")
      br
      .name.text-center Ruben
      .link.text-center 
        a(href="") @ruben
    .conductor
      .photo_c.text-center
        img(src="images/daniel.jpg", alt="")
      br
      .name.text-center Daniel
      .link.text-center
        a(href="#") @daniel
    
