extends layout
block content
  .info#sponsor.animated.fadeIn
    .logo-lg.center-flex
      img(src="images/logo-gray.png", alt="")
    .fecha-inicio
      div del:
      h1.no-margin Julio 24
    .fecha-final
      div al:
      h1.no-margin Julio 28
    .ciudad.center-flex
      h1.no-margin CDMX
  br
  br
  .patrocinadores
    .beat.text-center.center-flex
      img(src="images/beat.png", alt="")
    br
    .center-flex.pat-2
      .bg
        img(src="images/bgbg.png", alt="")
      .gestionix
        img(src="images/gestionix.svg", alt="")
      .tec
        img(src="images/tec.png", alt="")
    br
    .sable.text-center
      img(src="images/sable.svg", alt="")

  
  .grid-busp
    h1.text-center BUSPRENEURS
    br
    br
    br
    .col
      .photo
        .data
    .col
      .photo
        .data  
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data  
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data  
    .col
      .photo
        .data
    .col
      .photo
        .data
    .col
      .photo
        .data
  h1.text-center CONDUCTORS
  .grid-conductors
    .conductor
      .photo_c.text-center
        img(src="images/rulotico.jpg", alt="")
      br
      .name.text-center Rulótico
    .conductor
      .photo_c.text-center
        img(src="images/danna.jpg", alt="")
      br
      .name.text-center Danna
    .conductor
      .photo_c.text-center
        img(src="images/ruben.jpg", alt="")
      br
      .name.text-center Ruben
    .conductor
      .photo_c.text-center
        img(src="images/daniel.jpg", alt="")
      br
      .name.text-center Daniel
    
