extends layout
block content
  .info#sponsor.animated.fadeIn
    .logo-lg.center-flex
      img(src="images/logo-gray.png", alt="")
    .fecha-inicio
      div del:
      h1.no-margin Julio 24
    .fecha-final
      div al:
      h1.no-margin Julio 28
    .ciudad.center-flex
      h1.no-margin CDMX
  br
  br
  h2.text-center
    span.import ESTO ES GRACIAS A:
  .patrocinadores
    .beat.text-center.center-flex
      a(href="https://thebeat.co/mx/" target="_blank")
        img(src="images/beat.png", alt="")
    br
    .center-flex.pat-2
      .bg
        a(href="https://bgbg.mx/" target="_blank")
          img(src="images/bgbg.png", alt="")
      .gestionix
        a(href="https://gestionix.com" target="_blank")
          img(src="images/gestionix.svg", alt="")
      .tec
        a(href="https://tec.mx/es" target="_blank")
          img(src="images/tec.png", alt="")
    br
    .center-flex.pat-2
      .mother
        a(href="http://motherbase.mx" target="_blank")
          img(src="images/motherbase.svg", alt="")
      .sable
        a(href="http://SABLE.mx" target="_blank")
          img(src="images/sable.svg", alt="")
      .gopie
        a(href="https://www.go-pie.com/" target="_blank")
          img(src="images/gopie.png", alt="")

  
  .grid-busp#port
    h2.text-center
      span.import BUSPRENEURS
    br
    br
    br
    .col
      .photo
        .text_u Brandon Reyes
        .data(style="background-image: url(busers/brandon.jpg);")  
    .col
      .photo
        .text_u ANNEL GARCIA
        .data(style="background-image: url(busers/annel.jpg);")  
    .col
      .photo
        .text_u Julio alanis
        .data(style="background-image: url(busers/julio.jpg);")
    .col
      .photo
        .text_u Abril Gara
        .data(style="background-image: url(busers/abril.jpg);")
    .col
      .photo
        .text_u Everardo Sanchez
        .data(style="background-image: url(busers/eve.jpg);")
    .col
      .photo
        .text_u jaime smeke
        .data(style="background-image: url(busers/jaime.jpg);")
    .col
      .photo
        .text_u Victor Hugo
        .data(style="background-image: url(busers/victor.png);") 
    .col
      .photo
        .text_u Ricardo Alcocer
        .data(style="background-image: url(busers/alco.jpg);")
    .col
      .photo
        .text_u Aidé Cabrera
        .data(style="background-image: url(busers/aide.jpg);")
    .col
      .photo
        .text_u Eduardo Amaya
        .data(style="background-image: url(busers/eduardo.jpg);")
    .col
      .photo
        .text_u Viviana Tapia
        .data(style="background-image: url(busers/viviana.jpg);")
    .col
      .photo
        .text_u Marvin Amador
        .data(style="background-image: url(busers/marvin.jpg);")
    .col
      .photo
        .text_u Alba Leal
        .data(style="background-image: url(busers/alba.jpg);")
    .col
      .photo
        .text_u Daniel del Campo
        .data(style="background-image: url(busers/daniel.jpg);")
  
  h2.text-center
    span.import MENTORES
  .grid-busp  
    .col.mentor
      .photo
        .text_u 
          p I studied Advertisement and Marketing but my passion has always been technology. I 've been working at entrepreneurship companies since 2013 in different industries including retail B2B, education and my last two years at Beat. 
            |I'm a problem solver and I have had the opportunity to work as CX, Product Tester, launching new markets and participating in local product projects as the Business Owner. I'm currently 32 year old. I've learned very basic knowledge of coding (HTML and Python). My favorite video game is Mortak Kombat, and my hobbies include watching product unboxing videos on YouTube and  rugby (I have played for 12 years now!).
        .data(style="background-image: url(mentors/miguelm.jpg);")
      .text-center
        | Miguel Mego
    .col.mentor
      .photo
        .text_u 
          p I studied Business & Technology Engineering at ITESM, which gave me solid knowledge and skills to work with start ups and scale ups. In 2014 I founded a company dedicated to software development, later on, created a project for kids to learn through virtual reality, which won a national level award and government funding. I later co founded a company related to fuel consumption expenses, which was a finalist in the GSEA (Global Student Entrepreneur Awards) finalist in Mexico, and was part of a 6 month incubating program with the Plug And Play Mexico Fund, which resulted in investment from the fund in its US subsidiary in Sillicon Valley. I now work at Beat as a Product Support Specialist, with the goal of improving my knowledge base and learning in a fast paced environment full of challenges.
        .data(style="background-image: url(mentors/miguel.png);")
      .text-center
        | Miguel De Llano
    .col.mentor
      .photo
        .text_u 
          p 
        .data(style="background-image: url(mentors/joel.jpg);")
      .text-center
        | Joel Coria González
    .col.mentor
      .photo
        .text_u 
          p Asociada Sr de Protección de Datos y Privacidad de BGBG Abogados, con experiencia en consultaría en los sectores de telecomunicaciones, publicidad, retail, banca, casas de bolsa, turismo, servicios de salud y educación, entre otros. 
        .data(style="background-image: url(mentors/beatriz.jpg);")
      .text-center
        | Beatriz Jaramillo Jaramillo
    
  h2.text-center
    span.import CONDUCTORS
  .grid-conductors
    .conductor
      .photo_c.text-center
        img(src="images/rulotico.jpg", alt="")
      br
      .name.text-center Rulótico
      .link.text-center
        a(href="https://twitter.com/rulotico" target="_blank") @rulotico
    .conductor
      .photo_c.text-center
        img(src="images/danna.jpg", alt="")
      br
      .name.text-center Danna
      .link.text-center
        a(href="https://twitter.com/dannakiedis" target="_blank") @dannakiedis
    .conductor
      .photo_c.text-center
        img(src="images/ruben.jpg", alt="")
      br
      .name.text-center Ruben
      .link.text-center 
        a(href="https://twitter.com/Rubcuadra" target="_blank") @Rubcuadra
    .conductor
      .photo_c.text-center
        img(src="images/daniel.jpg", alt="")
      br
      .name.text-center Daniel
      .link.text-center
        a(href="https://twitter.com/dtr3sa" target="_blank") @dtr3sa
    
