
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700&display=swap');

body {
  margin: 0;
  font-family: 'Barlow', sans-serif;
}

a {
  color: #00B7FF;
}




/* /LAYOUT/ */

.top{
  background-color: rgba(45, 49, 51, 0.95);
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content:space-between;
  position: fixed;
  width: 100%;
}
.logo{
  padding-left: 3em;
}

.options{
  padding-right: 11em;
}
.logo img{
  height: 20px;
}

.top .options div{
  cursor: pointer;
  opacity: .7;
}

.top .options div:hover{
opacity: 1;
}

.top a{
  text-decoration: none;
  color: white;
}

.options{
  display: flex;
  font-size: 11px;
}

.options div{
  padding: 1.8em;
}

/* MAP */
.map{
  position: fixed;
  background: rgba(0,0,0,.8);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  text-align: center;
padding-top: 10em;
display: none;
}
.map_frame{
    border: 0;
    border-radius: 9px;
    box-shadow: 0px 1px 4px 0px rgba(82, 79, 79, 0.96);
}

/* VIDEO */

.video_frame{
  width: 100%;
  height: 57vw;
}

.video_shadow{
  background-color: gray;
      height: 54.5vw;
  width: 100%;
  position: absolute;



    background: rgba(84,85,102,1);
background: -moz-linear-gradient(top, rgba(167, 84, 45, 0.42) 0%, rgba(247, 251, 15, 0.26) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(167, 101, 45, 0.85)), color-stop(100%, rgba(247, 251, 15, 0.32)));
background: -webkit-linear-gradient(135deg, rgba(167, 84, 45, 0.42) 0%, rgba(247, 251, 15, 0.26) 100%);
background: -o-linear-gradient(135deg, rgba(167, 84, 45, 0.42) 0%, rgba(247, 251, 15, 0.26) 100%);
background: -ms-linear-gradient(135deg, rgba(167, 84, 45, 0.42) 0%, rgba(247, 251, 15, 0.26) 100%);
background: linear-gradient(135deg, rgba(167, 84, 45, 0.42) 0%, rgba(247, 251, 15, 0.26) 100%)
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545566', endColorstr='#ffffff', GradientType=0 );

pointer-events: none;
}

.video_container{
  height: 61.5vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-color: black;
}

.video{
    margin-top: -3em;
        background-color: black;
}

/* /CONTENT/ */

.content{
  max-width: 1100px;
    margin: auto;

}


.info{
  margin-top: -90px;
  display: flex;
  width: 100%;
  border: 1px solid black;
  border-bottom: 0px;
  background-color: rgba(72, 82, 86, 0.33)

}

.info >div{
  padding: 1em;
  border-left: 1px solid;
  width: -webkit-fill-available;
}
.info h1{
  color: white;
}

.logo-lg{
      border-left: 0px solid !important;

}

.logo-lg img{
  width: 200px;
}


/* PATROCINADORES */
.patrocinadores{
  padding-top: 5em;
  padding-bottom: 5em;
}

.beat img{
  width: 183px;
}
.pat-2 >div{
  text-align: center;
  width: -webkit-fill-available;
  padding: 3em;
}
.pat-2 img{
  max-height: 200px;
  max-width: 230px;
}

/* BUSPRENEURS */
.grid-busp{
  width: 100%;
  display: flow-root;
  padding-top: 5em;
  padding-bottom: 5em;
}
.col{
  width: 33.33%;
    float: left;
}
.photo{

  padding: 10px;
}

.data{
  background-color: black;
  height: 20em;
}

/* CONDUCTORS */

.grid-conductors{
  padding-top: 5em;
  padding-bottom: 5em;
  display: flex;
  justify-content: space-around;
}

.conductor{

}

.photo_c{
  border-radius: 100%;
overflow: hidden;
max-height: 200px;
}
.conductor img{
  max-width: 200px;
}

.footer{
      font-size: 12px;
      padding: .5em;
      background-color: #2D3133;
      color: #a29a9a;

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>> HELPERS */
.no-margin{
  margin: 0;
}

.center-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center{
  text-align: center;
}

.import{
  background-color: #2D3133;
color: white;
padding: .5em;
}

.photo{

}

.text_u{
  pointer-events: none;
      position: relative;
      z-index: 10;
      opacity: 0;
      text-align: center;
      width: 100%;
      float: left;
      padding-top: 5em;
      color: white;
      font-weight: bold;
      font-size: 27px;
      text-shadow: 2px 2px #20CCA0;
      text-transform: uppercase;
}

.photo:hover > *{
  opacity: 1 !important;
  transition: 1s;
}

.data {
  background-size: cover !important;
  background: center center;
  cursor: pointer;
  background-color: black;
  transition: filter .5s ease-in-out;
  -webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
  filter: grayscale(0%); /* FF 35+ */
}
.data:hover {

  -webkit-filter: blur(2px) grayscale(100%);
  -moz-filter: blur(2px) grayscale(100%);
  -o-filter: blur(2px) grayscale(100%);
  -ms-filter: blur(2px) grayscale(100%);
  filter: blur(2px) grayscale(100%);
}


@media (max-width:1000px) {
  .video_container{
    height: 38.5vh;
  }
  .center-flex{
    display: block;
  }
}
@media (max-width:900px) {
.grid-conductors{
  display: grid;
}
.conductor{
  padding-bottom: 4em;
}
}


@media (max-width:700px) {
  .options{
    display: none;
  }
  .logo{
    width: 100%;
    padding-top: .5em;
    padding-bottom: .5em;
    padding-left: inherit;
  }
  .logo-lg img {
    width: 110px;
  }
  .video_container{
    height: 28.5vh;
  }
  .logo-lg  {
    display: none;
  }
  .col{
    width: 50%;
  }

}

@media (max-width:500px) {

  .video_container{
        height: 31.5vh;
  }
  .info{
    margin-top: -127px;
  }
  .video{
        margin-top: 3em;
  }
  .video_shadow{
        height: 83.5vw;
  }
}
